@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StickingCloseFont';
  src: url('/fonts/ddag.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.layout-container {
  @apply max-w-[1280px] w-full mx-auto;
}